//- layout.pug
doctype html
html
  head
    title Harsh Dance Academy
    block scripts 
    block style 
  body
    nav#navbar.top 
        ul 
           div#logo 
               img(src="/static/img/logo.png")
               | HDA
           //- below syntax are easy way to write an li
           li #[a(href="/") Home]
           li #[a(href="/") About]
           li #[a(href="/") Services]
           li #[a(href="/") Class Info]
           li #[a(href="/contact") Contact Us]
           //- we use /contact to directly go to the contact form
 
    block content 
    footer#footer 
        | Copyright 2022 HarshDanceAcademy.com | All rights reserved  